<div class="polozaj">
    <div class="row lineCenter1">
        <div class="col-md-6 text_1">
            <p>Osnovne studije:</p>
        </div>
        <div class="col-md-6 text_2 ">
            <p>Tehnički fakultet ,,Mihajlo Pupin", Informacione tehnologije - Softversko inženjerstvo (2018-2023)</p>
        </div>
    </div>
    <div class="row lineCenter2">
        <div class="col-md-6 text_1">
            <p>Master studije:</p>
        </div>
        <div class="col-md-6 text_2 ">
            <p>Tehnički fakultet ,,Mihajlo Pupin" (2023- )</p>
        </div>
    </div> 
    <br>
    <div class="row lineCenter3">
        <div class="col-md-6 text_1">
            <p>SKILLS: </p>
        </div>
        <div class="col-md-6 text_2 ">
            <p>• HTML, CSS, JavaScript – Intermediate</p>
            <p>• WordPress – Intermediate</p>
            <p>• Angular - Intermediate</p>
            <p>• Working in Adobe Photoshop</p>
            <p>• Good understanding of OOP concepts</p>
            <p>• English - Intermediate</p>
            <p>• SQL – Intermediate</p>
            <p>• Source control - GIT</p>
            <p>• C- Basic</p>
            <p>• Java- Basic</p>
            <p>• C++ - Basic</p>
            <p>• C#- Basic</p>
            <p>• PHP - Basic</p>
            <p>• Python - Basic</p>
            <p>• Solid knowledge of algorithms and data structures</p>
            <p>• Solid knowledge of algorithms and data structures</p>
            <p>• Knowledge of tools like Visual Studio,Eclipse, NetBean</p>
        </div>
    </div> 
    
</div>
