<div class="polozaj">
    <div class="row">
        <div class="col-md-6 text_1" >
            <p>Broj telefona:</p>
        </div>
        <div class="col-md-6 text_2 lineLeft1">
            <p>061 309 4800</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text_1">
            <p>Email:</p>
        </div>
        <div class="col-md-6 text_2 lineLeft2">
            <p>serjelena9@gmail.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text_1">
            <p>LinkdIn:</p>
        </div>
        <div class="col-md-6 text_2 lineLeft3">
            <a href="https://www.linkedin.com/in/jelena-ser-808798224/">https://www.linkedin.com/in/jelena-ser-808798224/</a>
        </div>
    </div>
</div>
