<div class="o_meni_polozaj">
    <div class="row">
        <div class="col-md-6 text_1" >
            <p>Datum rodjena:</p>
        </div>
        <div class="col-md-6 text_2">
            <p>24.03.1999.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text_1">
            <p>Mesto stanovanja:</p>
        </div>
        <div class="col-md-6 text_2">
            <p>Obrenovac</p>
        </div>
    </div><div class="row">
        <div class="col-md-6 text_1">
            <p>Adresa:</p>
        </div>
        <div class="col-md-6 text_2">
            <p>Djačkog bataljona 8/7</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text_1">
            <p>Poštanski broj:</p>
        </div>
        <div class="col-md-6 text_2">
            <p>11500 Obrenovac</p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6 text_1">
            <p>Email:</p>
        </div>
        <div class="col-md-6 text_2">
            <p>serjelena9@gmail.com</p>
        </div>
    </div> -->
    
</div>
